<div ui-view autoscroll="false" class="border-bottom dashboard-header">
    <div class="row">
        <div class="col-sm-4">
            <h2>Delegaciones</h2>
            <form class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Añadir Delegación" ng-model="nuevaDelegation.delegation_name" value="">
                    <span class="input-group-btn">
                        <button ng-click="Save(nuevaDelegation.delegation_name)" class="btn btn-success"><span class="fa fa-plus"></span></button>
                    </span>
                </div>
            </form>
            <small>Hay {{countDelegation}} delegaciones actualmente.</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item" ng-repeat="delegation in delegations" id="{{delegation.id_delegation}}">
                    <a ui-sref="delegation.profile({id:delegation.id_delegation})">{{delegation.delegation_name}}</a>
                    <a ng-click="Remove($index, delegation.id_delegation)" class="btn btn-link pull-right text-danger"><span class="fa fa-times"></span></a>
                    <a colorpicker ng-model="color_delegation" ng-change="AddColor(delegation.id_delegation, color_delegation)" class="btn btn-link pull-right"><span class="fa fa-pencil"></span></a>
                </li>
                    
            </ul>        
        </div>
        <div class="col-sm-7 col-sm-offset-1">            
            <h4 class="mTop15">Selecciona las provincias que quieres asignar a una delegación:</h4>
            <div vector-map style="height: 300px;" my-map-data="dataMap"></div>
            <p>
                <label>Asigna estas provincias a una Delegación</label>
                <select chosen class="chosen-select" style="width:350px;">
                    <option ng-repeat="delegation in delegations" value="{{delegation.id_delegation}}">{{delegation.delegation_name}}</option>
                </select>
            </p>
            <p class="clearfix"><button class="btn btn-success pull-right">Asignar</button></p>
        </div>
    </div>
    <div ui-view="profile" autoscroll="true" class="row dashboard-header">                
    </div>
</div>