<div class="row  border-bottom white-bg dashboard-header" ng-controller="DelegationCtrl">
    <div class="col-sm-3">
        <h2>Delegaciones</h2>
        <small>Hay 6 delegaciones actualmente.</small>
        <ul class="list-group clear-list m-t">            
            <li class="list-group-item" ng-repeat="delegation in delegations" id="{{delegation.id_delegation}}">{{delegation.delegation_name}}</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ui-chart series="data" options="options" title="Simple Chart" subtitle="with percent values">
            <y-axis title="Temperature">
                <labels>
                    <span>{{ value }}</span>
                </labels>
            </y-axis>            
        </ui-chart>
    </div>
</div>