<div class="ibox-content mailbox-content">
    <div class="file-manager">
        <a class="btn btn-block btn-primary compose-mail" ui-sref="webmail.compose">Crear Mail</a>

        <div class="space-25"></div>
        <h5>Bandejas</h5>
        <ul class="folder-list m-b-md" style="padding: 0">
            <li ng-repeat="bandeja in bandejas">
                <a  ui-sref="webmail.bandeja({bandejaId:bandeja.bandeja, pagina:0})"> 
                    <i class="fa fa-inbox "></i> {{bandeja.name}} <span class="label label-warning pull-right">{{bandeja.total}}</span> 
                </a>
            </li>


            <li><a ui-sref="webmail"> <i class="fa fa-inbox "></i> Entrada <span class="label label-warning pull-right">16</span> </a></li>
            <li><a ui-sref="webmail.bandeja({bandejaId:'inbox', pagina:0})"> <i class="fa fa-envelope-o"></i> Enviados</a></li>
            <li><a ui-sref="webmail"> <i class="fa fa-certificate"></i> Importante</a></li>
            <li><a ui-sref="webmail"> <i class="fa fa-file-text-o"></i> Borradores <span class="label label-danger pull-right">2</span></a></li>
            <li><a ui-sref="webmail"> <i class="fa fa-trash-o"></i> Papelera</a></li>
        </ul>
        <button ng-click="open()" class="btn btn-success " type="button"><i class="fa fa-paste"></i> Crear Carpeta</button>
       <!-- <h5>Categories</h5>
        <ul class="category-list" style="padding: 0">
            <li><a href=""> <i class="fa fa-circle text-navy"></i> Work </a></li>
            <li><a href=""> <i class="fa fa-circle text-danger"></i> Documents</a></li>
            <li><a href=""> <i class="fa fa-circle text-primary"></i> Social</a></li>
            <li><a href=""> <i class="fa fa-circle text-info"></i> Advertising</a></li>
            <li><a href=""> <i class="fa fa-circle text-warning"></i> Clients</a></li>
        </ul>

        <h5 class="tag-title">Labels</h5>
        <ul class="tag-list" style="padding: 0">
            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
        </ul>-->
        <div class="clearfix"></div>
    </div>
</div>