<div class="ibox-content mailbox-content" ng-controller="WebmailMailboxesController">
    <div class="file-manager">
        <a class="btn btn-primary compose-mail" ui-sref="webmail.compose"><i class="fa fa-paper-plane-o"></i> Crear Mail</a>
        <a ng-click="open()" class="btn btn-success compose-mail"><i class="fa fa-paste"></i> Crear Carpeta</a>

        <div class="space-25"></div>
        <h5>Bandejas</h5>
        <ul class="folder-list m-b-md" style="padding: 0">
            <li class="mailbox" ng-repeat="bandeja in bandejas">
                <a  ui-sref="webmail.bandeja({mailbox:bandeja.name, pagina:0})"> 
                    <i  ng-class="{'fa fa-inbox'   : bandeja.name === 'INBOX',
                                                       'fa fa-envelope-o' : bandeja.name === 'Enviados',
                                                       'fa fa-trash-o'    : bandeja.name === 'Papelera',
                                                       'fa fa-recycle'   : bandeja.name === 'Spam',
                                                       'fa fa-file-text-o' : bandeja.name === 'Borradores'}" ></i> {{bandeja.name_show}} <span ng-show="bandeja.data.Unread" class="label label-warning pull-right">{{bandeja.data.Unread}}</span> 
                     
                </a>
                <!--<ul class="folder-list" style="padding-left:10px">
                <li class="mailbox" ng-repeat="subfolder in bandeja.folders"><div ng-hide="bandeja.name==='INBOX'" mailbox-tools></div><a  ui-sref="webmail.bandeja({mailbox:bandeja.name+separator+subfolder.name, pagina:0})"> {{subfolder.name}}</a></li>
                </ul>-->
            </li>


            <!--<li><a ui-sref="webmail"> <i class="fa fa-inbox "></i> Entrada <span class="label label-warning pull-right">16</span> </a></li>
            <li><a ui-sref="webmail.bandeja({bandejaId:'inbox', pagina:0})"> <i class="fa fa-envelope-o"></i> Enviados</a></li>
            <li><a ui-sref="webmail"> <i class="fa fa-certificate"></i> Importante</a></li>
            <li><a ui-sref="webmail.bandeja({bandejaId:'borradores', pagina:0})"> <i class="fa fa-file-text-o"></i> Borradores <span class="label label-danger pull-right">2</span></a></li>
            <li><a ui-sref="webmail"> <i class="fa fa-trash-o"></i> Papelera</a></li>-->
        </ul>
        <!--<button ng-click="open()" class="btn btn-success " type="button"><i class="fa fa-paste"></i> Crear Carpeta</button>-->
        <h5>Bandejas Clientes</h5>
        <ul class="category-list" style="padding: 0">
            <li ng-repeat="bandeja_cliente in bandejas_clientes">
              <ul class="folder-list" style="padding-left:10px">
                <li class="mailbox" ng-repeat="subfolder in bandeja_cliente.folders"><a  ui-sref="webmail.bandeja({mailbox:bandeja_cliente.name+separator+subfolder.name, pagina:0})"> {{subfolder.name}}</a></li>
                </ul>
            </li>
            
        </ul>
        <h5>Bandejas Ayuntamientos</h5>
        <ul class="category-list" style="padding: 0">
            <li ng-repeat="bandeja_ayuntamiento in bandejas_ayuntamientos">
              <ul class="folder-list" style="padding-left:10px">
                <li class="mailbox" ng-repeat="subfolder in bandeja_ayuntamiento.folders"><a  ui-sref="webmail.bandeja({mailbox:bandeja_ayuntamiento.name+separator+subfolder.name, pagina:0})"> {{subfolder.name}}</a></li>
                </ul>
            </li>
            
        </ul>
        <h5>Bandejas Alumnos</h5>
        <ul class="category-list" style="padding: 0">
            <li ng-repeat="bandeja_alumno in bandejas_alumnos">
              <ul class="folder-list" style="padding-left:10px">
                <li class="mailbox" ng-repeat="subfolder in bandeja_alumno.folders"><a  ui-sref="webmail.bandeja({mailbox:bandeja_alumno.name+separator+subfolder.name, pagina:0})"> {{subfolder.name}}</a></li>
                </ul>
            </li>
            
        </ul>
        <h5>Bandejas Privadas</h5> 
        <ul class="category-list" style="padding: 0">
            <li class="mailbox" ng-repeat="bandeja_otra in bandejas_otros">
                <div  ng-show="bandeja_otra.name==mailboxsel"  mailbox-tools></div><a ng-click="setFolder(bandeja_otra.name)" ui-sref="webmail.bandeja({mailbox:bandeja_otra.name, pagina:0})"> <i class="fa fa-circle text-navy"></i> {{bandeja_otra.name}} </a></li>
            <ul class="folder-list" style="padding-left:10px">
                <li class="mailbox" ng-repeat="subfolder in bandeja_otra.folders"><a  ui-sref="webmail.bandeja({mailbox:bandeja_otra.name+separator+subfolder.name, pagina:0})"> {{subfolder.name}}</a></li>
                </ul>
        </ul>
        <!--
        <h5 class="tag-title">Labels</h5>
        <ul class="tag-list" style="padding: 0">
            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
        </ul>-->
        <div class="clearfix"></div>
    </div>
</div>