<div class="ibox-tools dropdown">
    
    <a class="dropdown-toggle" href>
        <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a ng-click="changeMailbox(bandeja.name)">{{bandeja.name}}Cambiar nombre</a>
        </li>
        <li><a ng-click="removeMailbox(bandeja.name)">Eliminar</a>
        </li>
    </ul>
</div>
<script>
$('.ibox-tools').hide();
$('.mailbox').hover( 
    function() {
        $( this).find(' .ibox-tools' ).show( );
    }, function() {
        $( this).find(' .ibox-tools' ).hide( );
    }
);
</script>