<div class="modal-body">
    <div class="row">
        <h3 class="m-t-none m-b">Filtros Avanzados</h3>

            <form role="form" class="form-inline">
                    <div class="form-group">
                    	<select class="form-control"><option value="SUBJECT">Asunto</option><option value="BODY">Cuerpo</option></select>    
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Busqueda" id="exampleInputPassword2" class="form-control">
                    </div>
                    <div class="form-group">
                    	<button class="btn btn-primary pull-right" type="submit"><strong>Log in</strong></button>
                    </div>
                </form>
    </div>
</div>
