<div class="modal-body">
    <div class="row">
        <h3 class="m-t-none m-b">Crear Carpeta</h3>

            <form role="form">
                <div class="form-group"><input type="text" ng-model="newmailbox" placeholder="Nueva Carpeta" class="form-control"></div>
                <div>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-click="crear()"><strong>Crear</strong></button>
                </div>
            </form>
    </div>
</div>
